.mainJumbotron {
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
}

.promoCards {
  background-color: rgb(107, 107, 107);
  height: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerInfo {
  background-color: rgb(63, 63, 63);
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerCopyright {
  background-color: rgb(37, 37, 37);
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  margin-left: 5rem ;
  margin-right: 5rem ;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-title {
  justify-content: center;
}

.footerInfo .card {
  background-color: rgb(63, 63, 63);
  color: white;
}

.cardWrapper {
  background-color: rgb(63, 63, 63);
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newsletterWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  text-wrap: nowrap;
}
