<div class="mainJumbotron">
  <h1>Nowe rozwiązanie dla mechaników</h1>
  <p>Ułatw i zorganizuj sobie pracę już teraz</p>
  <button type="button" class="btn btn-light">Rozpocznij</button>
</div>
<div class="promoCards">
  <div class="card" style="width: 20rem; height: 30rem">
    <img src="/assets/photo1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Doświadczenie</h5>
      <p class="card-text">
        Nasza misja to ułatwienie codziennej pracy warsztatów samochodowych
        poprzez nowoczesne narzędzia, które wspierają efektywność, organizację i
        precyzję
      </p>
      <a href="#" class="btn btn-secondary">O nas</a>
    </div>
  </div>
  <div class="card" style="width: 20rem; height: 30rem">
    <img src="/assets/photo2.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Wiedza</h5>
      <p class="card-text">
        Organizuj się sprawnie, eliminuj chaos i zyskuj więcej czasu na pasję –
        naprawę samochodów. Niech To-Do Mechanic stanie się nieodłącznym
        narzędziem w Twoim warsztacie.
      </p>
      <a href="#" class="btn btn-secondary">O produkcie</a>
    </div>
  </div>
  <div class="card" style="width: 20rem; height: 30rem">
    <img
      src="/assets/photo3.jpg"
      class="card-img-top"
      alt="..."
      height="220rem"
      width="20rem"
    />
    <div class="card-body">
      <h5 class="card-title">Praktyka</h5>
      <p class="card-text">
        Zadania są jak samochody na trasie – trzymaj rękę na pulsie! To-Do
        Mechanic umożliwia śledzenie postępu prac, co pozwala na błyskawiczne
        dostosowanie planu naprawczego.
      </p>
      <a href="#" class="btn btn-secondary">Więcej</a>
    </div>
  </div>
</div>
<div class="footerInfo">
  <div class="iconsWrapper">
    <i class="bi bi-linkedin m-5" style="color:white; font-size:5rem"></i>
    <i class="bi bi-github m-5" style="color:white; font-size:5rem"></i>
    <i class="bi bi-microsoft-teams m-5" style="color:white; font-size:5rem"></i>
  </div>
  <div class="newsletterWrapper">
    <h5>Zapisz się do newslettera:</h5>
    <input
        class="form-control form-control-md m-4"
        type="text"
        placeholder="Email"
        aria-label="pole email"
      />
    <button type="button" class="btn btn-light m-4">Subskrybuj</button>
  </div>
  <div class="cardWrapper">
    <div class="card" style="width: 20%">
      <div class="card-header bg-secondary">
        <h5 class="card-title">To Do Mechanic</h5>
      </div>
      <div class="card-body p-5">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 20%">
      <div class="card-header bg-secondary">
        <h5 class="card-title">Informacje</h5>
      </div>
      <div class="card-body p-5">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 20%">
      <div class="card-header bg-secondary">
        <h5 class="card-title">Kontakt</h5>
      </div>
      <div class="card-body p-5">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="footerCopyright">
  <h5>© 2023 Copyright: Twój mechanic Sp z.o.o</h5>
</div>
