<div class="mainJumbotron">
    <h1 class="display-1">O nas</h1>
  </div>
  <div class="promoCards">
    <ul class="list-unstyled text-white h5">
      <li>
        <strong>Witaj w świecie Twój Mechanic</strong> - innowacyjej firmy, która specjalizuje się w dostarczaniu
        kompleksowych rozwiązań oprogramowania komputerowego dla profesjonalnych mechaników.
        Nasza misja to ułatwienie codziennej pracy warsztatów samochodowych poprzez nowoczesne narzędzia,
        które wspierają efektywność, organizację i precyzję.
      </li>
      <li>
        <ul>
          <li>
            <strong>DLACZEGO WARTO WYBRAĆ TWÓJ MECHANIC?</strong>
          </li>
          <li>
            <strong>Wszechstronne Rozwiązania:</strong> Oferujemy kompleksowe oprogramowanie,
            które obejmuje wszystkie aspekty codziennej pracy mechanika. Od zarządzania terminami,
            poprzez kontrolę stanu magazynowego, aż po pełną integrację z diagnostyką samochodową.
          </li>
          <li>
            <strong>Intuicyjna Obsługa:</strong> Nasze narzędzia są zaprojektowane
            z myślą o prostocie i intuicyjności. Dzięki temu nawet mniej doświadczeni
            użytkownicy szybko opanują obsługę, co przekłada się na skrócenie czasu adaptacji.
          </li>
          <li>
            <strong>Dostosowane do Potrzeb Klienta:</strong>  Jesteśmy świadomi, że każdy
            warsztat ma swoje unikalne wymagania. Nasze oprogramowanie jest elastyczne i łatwo
            dostosowuje się do specyfiki każdego przedsiębiorstwa, gwarantując pełne zadowolenie
            z jego funkcji.
          </li>
          <li>
            <strong>Wsparcie Techniczne:</strong> Twój sukces to nasz sukces.
            Nasza ekipa wsparcia technicznego jest zawsze gotowa pomóc w rozwiązaniu
            problemów i udzielić niezbędnej pomocy, abyś mógł skoncentrować się na obsłudze
            swoich klientów.
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="footerInfo">
    <div class="iconsWrapper">
      <i class="bi bi-linkedin m-5" style="color: white; font-size: 5rem"></i>
      <i class="bi bi-github m-5" style="color: white; font-size: 5rem"></i>
      <i
        class="bi bi-microsoft-teams m-5"
        style="color: white; font-size: 5rem"
      ></i>
    </div>
    <div class="newsletterWrapper">
      <h5>Zapisz się do newslettera:</h5>
      <input
        class="form-control form-control-md m-4"
        type="text"
        placeholder="Email"
        aria-label="pole email"
      />
      <button type="button" class="btn btn-light m-4">Subskrybuj</button>
    </div>
    <div class="cardWrapper">
      <div class="card" style="width: 20%">
        <div class="card-header bg-secondary">
          <h5 class="card-title">To Do Mechanic</h5>
        </div>
        <div class="card-body p-5">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 20%">
        <div class="card-header bg-secondary">
          <h5 class="card-title">Informacje</h5>
        </div>
        <div class="card-body p-5">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 20%">
        <div class="card-header bg-secondary">
          <h5 class="card-title">Kontakt</h5>
        </div>
        <div class="card-body p-5">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footerCopyright">
    <h5>© 2023 Copyright: Twój mechanic Sp z.o.o</h5>
  </div>
