<div class="dashboard-container">
  <div class="sidebar">
    <div class="project-name">Nazwa firmy</div>
    <div class="options">
      <button class="option" (click)="openModal(createOrderModal)">
        <i class="fas fa-home"></i> Nowe zlecenie
      </button>
      <button class="option" (click)="handleShowMyOrders()">
        <i class="fas fa-list"></i> Moje zlecenia
      </button>
    </div>
  </div>
  <div class="main-panel">
    <ng-template #defaultContent>
      <h2>Main Panel Content</h2>
    </ng-template>
  </div>
</div>

<ng-template #createOrderModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stwórz zlecenie</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div
    class="modal-body d-flex justify-content-center flex-column align-items-center"
  >
    <label class="form-label">Nazwa Samochodu</label>
    <input class="form-control" [(ngModel)]="carname" />
    <label class="form-label">Model</label>
    <input class="form-control" [(ngModel)]="model" />
    <label class="form-label">Rok produkcji</label>
    <input class="form-control" [(ngModel)]="productionYear" />
    <label class="form-label">Opis usterki</label>
    <input class="form-control" [(ngModel)]="problemDescription" />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [hidden]="isLoading"
      class="btn btn-outline-dark"
      (click)="tryCreateOrder()"
    >
      Stwórz zlecenie
    </button>
    <button type="button" [hidden]="!isLoading" class="btn btn-outline-dark">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </div>
</ng-template>

<div style="position: absolute; bottom: 30px; right: 20px">
  <ngb-toast
    class="bg-success bottom-0 end-0 postion-fixed"
    *ngIf="showSuccess"
    header="Utworzono zlecenie"
    [autohide]="true"
    (hidden)="showSuccess = false"
  >
    Przekazaliźmy twoje zlecenie do mechaników w twojej okolicy
  </ngb-toast>
  <!-- <ngb-toast
    class="bg-danger bottom-0 end-0 postion-fixed"
    *ngIf="showError"
    header="Error during adding process"
    [autohide]="true"
    (hidden)="showError = false"
  >
    Given data is probably wrong or device is unreachable
  </ngb-toast> -->
</div>
