<div *ngIf="!selectedTask; else taskDetails" class="task-tiles-container">
  <div class="task-prompt">
      <p>Pick your task</p>
  </div>
  <div *ngFor="let task of tasks" class="task-tile" (click)="showTaskDetails(task)">
    <div class="task-title">
      <h3>{{ task.name }}</h3>
    </div>
    <p class="task-description">{{ task.description }}</p>
  </div>
</div>

<ng-template #taskDetails>
  <div class="task-banner">
      <p>{{ selectedTask!.name }}</p>
  </div>
  <!-- Display task details here -->
  <div class="task-details">
      <h3>{{ selectedTask!.name }}</h3>
      <p>{{ selectedTask!.description }}</p>
      <button (click)="selectedTask = null">Back to Task List</button>
      <div class="subtask-container">
        <div class="subtask-status-todo subtask-status">
          <p> </p>
        </div>
        <div class="subtask-status-doing subtask-status">
          <p> </p>
        </div>
        <div class="subtask-status-done subtask-status">
          <p> </p>
        </div>
      </div>
  </div>
</ng-template>
