<div *ngIf="!selectedTask; else taskDetails" class="task-tiles-container">
  <div class="task-prompt">
      <p>Pick your task</p>
  </div>
  <div *ngFor="let task of tasks" class="task-tile" (click)="showTaskDetails(task)">
    <div class="task-title">
      <h3>{{ task.name }}</h3>
    </div>
    <p class="task-description">{{ task.description }}</p>
  </div>
</div>

<ng-template #taskDetails>
  <div class="task-details">
      <div class="task-banner">
        <p>{{ selectedTask!.name }}</p>
      </div>
      <p class="inside-task-description">{{ selectedTask!.description }}</p>
      <button class="button-back" (click)="selectedTask = null">Back to Task List</button>
      <div class="subtask-container">
        <div class="subtask-status-todo subtask-status">
          <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doingList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event, 'todo')">
            <div *ngFor="let subtask of todo" class="subtask-tile" cdkDrag [cdkDragData]="{ sid: subtask.sid }">
              <div class="subtask-title">
                <h3>{{ subtask.name }}</h3>
              </div>
              <p class="subtask-description">{{ subtask.description }}</p>
            </div>
          </div>
        </div>
        <div class="subtask-status-doing subtask-status">
          <div
            cdkDropList
            #doingList="cdkDropList"
            [cdkDropListData]="doing"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event, 'doing')">
            <div *ngFor="let subtask of doing" class="subtask-tile" cdkDrag [cdkDragData]="{ sid: subtask.sid }">
              <div class="subtask-title">
                <h3>{{ subtask.name }}</h3>
              </div>
              <p class="subtask-description">{{ subtask.description }}</p>
            </div>
          </div>
        </div>
        <div class="subtask-status-done subtask-status">
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, doingList]"
            class="example-list"
            (cdkDropListDropped)="drop($event, 'done')">
            <div *ngFor="let subtask of done" class="subtask-tile" cdkDrag [cdkDragData]="{ sid: subtask.sid }">
              <div class="subtask-title">
                <h3>{{ subtask.name }}</h3>
              </div>
              <p class="subtask-description">{{ subtask.description }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</ng-template>
