<div *ngIf="!selectedTask; else taskDetails" class="task-tiles-container">
  <div class="task-prompt">
      <p>Pick your task</p>
  </div>
  <div *ngFor="let task of tasks" class="task-tile" (click)="showTaskDetails(task)">
    <div class="task-title">
      <h3>{{ task.name }}</h3>
    </div>
    <p class="task-description">{{ task.description }}</p>
  </div>
</div>

<ng-template #taskDetails>

  <!-- Display task details here -->
  <div class="task-details">
      <div class="task-banner">
        <p>{{ selectedTask!.name }}</p>
      </div>
      <p class="inside-task-description">{{ selectedTask!.description }}</p>
      <button class="button-back" (click)="selectedTask = null">Back to Task List</button>
      <div class="subtask-container">
        <div class="subtask-status-todo subtask-status">
          <div *ngFor="let subtask of filterSubtasksByStatus('ToDo')" class="subtask-tile">
            <div class="subtask-title">
              <h3>{{ subtask.name }}</h3>
            </div>
            <p class="subtask-description">{{ subtask.description }}</p>
          </div>
        </div>
        <div class="subtask-status-doing subtask-status">
          <div *ngFor="let subtask of filterSubtasksByStatus('Doing')" class="subtask-tile">
            <div class="subtask-title">
              <h3>{{ subtask.name }}</h3>
            </div>
            <p class="subtask-description">{{ subtask.description }}</p>
          </div>
        </div>
        <div class="subtask-status-done subtask-status">
          <div *ngFor="let subtask of filterSubtasksByStatus('Done')" class="subtask-tile">
            <div class="subtask-title">
              <h3>{{ subtask.name }}</h3>
            </div>
            <p class="subtask-description">{{ subtask.description }}</p>
          </div>
        </div>
      </div>
  </div>
</ng-template>
