<div class="dashboard-container">
  <div class="sidebar">
    <div class="project-name">Nazwa firmy</div>
    <div class="options">
      <button class="option" (click)="handleOptionClick('MainPage')">
        <i class="fas fa-home"></i> Strona główna
      </button>
      <button class="option" (click)="handleOptionClick('TODO')">
        <i class="fas fa-list"></i> Nieprzypisane zamówienia
      </button>
      <button class="option" (click)="handleOptionClick('MY_TASKS')">
        <i class="fas fa-list"></i> Moje zamówienia
      </button>
    </div>
  </div>
  <div class="main-panel">
    <ng-container *ngIf="selectedOption === 'TODO'">
      <app-tasklist (newTaskAssigned)="moveToAssigned($event)" [tasks]="tasks" [myTasks]="false" [isWorkshop]="true"></app-tasklist>
    </ng-container>
    <ng-container *ngIf="selectedOption === 'MY_TASKS'">
      <app-tasklist [tasks]="myTasks" [myTasks]="true" [isWorkshop]="true"></app-tasklist>
    </ng-container>
    <ng-container *ngIf="selectedOption === 'MainPage'">
      <div class="main-page">
        <h1>Witamy w systemie Twój Mechanic!</h1>
        <h2>Wybierz opcję na panelu po prawej, aby wyświetlić listę zadań.</h2>
      </div>
    </ng-container>
  </div>
</div>
